In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tchollire,CM,2021-07-31 18:35:46,8.4022,14.1698,70.36,96,100,1.59
1,1,Bluff,NZ,2021-07-31 18:32:11,-46.6000,168.3333,47.80,95,100,6.13
2,2,Yellowknife,CA,2021-07-31 18:32:09,62.4560,-114.3525,78.33,60,20,1.01
3,3,Vaini,TO,2021-07-31 18:35:46,-21.2000,-175.2000,71.76,88,90,13.80
4,4,Atuona,PF,2021-07-31 18:35:46,-9.8000,-139.0333,76.64,71,50,12.57

In [3]:
city_data_df = city_data_df.dropna()

In [4]:
city_data_df.count()

City_ID       536
City          536
Country       536
Date          536
Lat           536
Lng           536
Max Temp      536
Humidity      536
Cloudiness    536
Wind Speed    536
dtype: int64

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [6]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Assign max temps to variable
max_temps = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temps], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tchollire,CM,2021-07-31 18:35:46,8.4022,14.1698,70.36,96,100,1.59
2,2,Yellowknife,CA,2021-07-31 18:32:09,62.4560,-114.3525,78.33,60,20,1.01
3,3,Vaini,TO,2021-07-31 18:35:46,-21.2000,-175.2000,71.76,88,90,13.80
4,4,Atuona,PF,2021-07-31 18:35:46,-9.8000,-139.0333,76.64,71,50,12.57
9,9,Rikitea,PF,2021-07-31 18:35:47,-23.1203,-134.9692,70.61,72,7,10.85
10,10,Kupang,ID,2021-07-31 18:35:48,-10.1667,123.5833,75.38,85,5,9.01
11,11,Samarai,PG,2021-07-31 18:35:48,-10.6167,150.6667,78.10,66,92,15.75
12,12,Jamestown,US,2021-07-31 18:31:11,42.0970,-79.2353,73.18,56,40,5.99
13,13,Nabire,ID,2021-07-31 18:35:48,-3.3667,135.4833,75.25,91,83,2.51
25,25,Omboue,GA,2021-07-31 18:35:51,-1.5746,9.2618,75.36,75,33,10.78

In [12]:
preferred_cities_df.count()

City_ID       146
City          146
Country       146
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [13]:
# Assign the locations to an array of latitude and longitude pairs.
locations = preferred_cities_df[["Lat", "Lng"]]
# Assign max temps to variable
max_temps = preferred_cities_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temps], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0     Tchollire      CM     70.36   8.4022   14.1698
2   Yellowknife      CA     78.33  62.4560 -114.3525
3         Vaini      TO     71.76 -21.2000 -175.2000
4        Atuona      PF     76.64  -9.8000 -139.0333
9       Rikitea      PF     70.61 -23.1203 -134.9692
10       Kupang      ID     75.38 -10.1667  123.5833
11      Samarai      PG     78.10 -10.6167  150.6667
12    Jamestown      US     73.18  42.0970  -79.2353
13       Nabire      ID     75.25  -3.3667  135.4833
25       Omboue      GA     75.36  -1.5746    9.2618

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Tchollire,CM,70.36,8.4022,14.1698,"Auberge ""l'amicale"""
2,Yellowknife,CA,78.33,62.4560,-114.3525,The Explorer Hotel
3,Vaini,TO,71.76,-21.2000,-175.2000,Keleti Beach Resort
4,Atuona,PF,76.64,-9.8000,-139.0333,Villa Enata
9,Rikitea,PF,70.61,-23.1203,-134.9692,People ThankYou
10,Kupang,ID,75.38,-10.1667,123.5833,Hotel On The Rock by Prasanthi
11,Samarai,PG,78.10,-10.6167,150.6667,Nuli Sapi
12,Jamestown,US,73.18,42.0970,-79.2353,Hampton Inn & Suites Jamestown
13,Nabire,ID,75.25,-3.3667,135.4833,Hotel Nusantara Nabire
25,Omboue,GA,75.36,-1.5746,9.2618,Hotel Olako

In [27]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))