## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_data_to_load = os.path.join("..", "Vacation_Search/Hotel_Database.csv")
vacation_df = pd.read_csv(vacation_data_to_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Margate,GB,60.69,overcast clouds,51.3813,1.3862,Premier Inn Margate hotel
1,1,Los Llanos De Aridane,ES,69.12,broken clouds,28.6585,-17.9182,Valle Aridane
2,3,Ballina,AU,67.96,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
3,4,Ribeira Grande,PT,73.18,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
4,6,Jinchang,CN,73.36,broken clouds,38.4953,102.1739,Mingshihui Jinchang International Hotel

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weahter</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(display_errors=False, center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)

fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "Kismayo")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "Kismayo")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Chalinze")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Port Elizabeth")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Sibiti")]

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [41]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,262,Kismayo,SO,75.00,light rain,-0.3582,42.5454,Agan-Hotel
1,346,Chalinze,TZ,66.25,few clouds,-6.6378,38.3540,Dolphin Guesthouse
2,11,Port Elizabeth,ZA,61.09,broken clouds,-33.9180,25.5701,39 On Nile Guest House
3,70,Sibiti,CG,69.93,overcast clouds,-3.6819,13.3499,"LE PAPYRUS (hôtel, bar et restaurant)"
4,262,Kismayo,SO,75.00,light rain,-0.3582,42.5454,Agan-Hotel

In [40]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weahter</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(display_errors=False, center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)

fig.add_layer(marker_layer)

fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))